# Auto detect text files and perform LF normalization
* text=auto

# Fix incorrect language encoding
*.ini linguist-language=INI
*.inc linguist-language=INI

# Ensure files are detectable languages.
*.ini linguist-detectable
*.inc linguist-detectable
